.header {
    text-align: center;
    background-color: #0056D2; /* Primary Color */
    color: #F5F5F5; /* Neutral Base for text */
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    position: relative;
  }
  
  .floating-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
    border: 4px solid #FFC107; /* Accent Color */
  }
  
  .navbar {
    margin-top: 20px;
  }
  
  .navbar a {
    margin: 0 15px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #008080; /* Secondary Accent */
    color: #F5F5F5; /* Neutral Base */
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #f3b706; /* Accent Color */
    transform: scale(1.1);
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  